/*.centered { margin: 0 auto; }
*/
#container{
    /*border:1px solid #dadada;*/
    width: 400px;
}
.box {
    margin: 5px;
    padding: 5px;
    background: #D8D5D2;
    float: left;
}
.col2 { width: 180px; }
.col4 { width: 380px; }
